@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: green;
    max-width: 600vw;
    margin: auto;
}

main { 
    position: inherit;
    background-color: white;
    max-width: 53vh;
    height: 67.5vh;
    margin: auto;
    margin-top: 5vw;
}
/*section {
    display: inline-block;
}*/

section > input#data {
    position: relative;
    margin: 3px;
    box-shadow: 1px 1px 3px black;
}

section.number {
    position: absolute;
    height: 220px;
    max-width: 20%;
    top: 43%;
    font-size: 5px;
    margin-left: 5px;
}

section #num {
    margin-left: 2px;
    margin-top: 2px;
    width: 6vw;
    height: 8vh;
    font-size: 35px;
}
section.operadores {
    position: absolute;
    max-width: 5%;
    left: 57%;
    top: 35%;
}

section > #reset, .operador {
    background-color: gainsboro;
    width: 5vw;
    height: 8vh;
    font-size: 35px;
    margin: 1px;
}

section.clear {
    display: inline;
    position: absolute;
    width: 18.5%;
    left: 37.6%;
    top: 34%;
}

section #reset {
    margin-left: 2px;
    margin-top: 2px;
    width: 48%;
    height: 8vh;
    font-size: 35px;
}

section .operador {
    margin-left: 2px;
    margin-top: 2px;
    width: 48%;
    height: 8vh;
    font-size: 35px;
}