@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: green;
    width: 100vw;
    height: 100vh;
}

main { 
    position: relative;
    background-color: white;
    width: 50vw;
    height: 67.5vh;
    margin: auto;
    top: 15vh;
    padding: 0px;
}

section.teclado{
    position: absolute;
    background-color: rgba(0, 0, 255, 0.22);
    width: 50vw;
    height: 50vh;
    top: 17.5vh;
}

section.number {
    background-color: rgba(255, 255, 0, 0.611);
    position: absolute;
    width: 30vw;
    height: 50vh;
}

section #num {
    position: relative;
    margin-top: 0.5vh;
    margin-left: 2px;    
    left: 3vw;
    top: 1vh;
    width: 8vw;
    min-height: 11.5vh;
    font-size: 2vw;
}

section.operadores {
    position: absolute;
    width: 5vw;
    left: 31.5vw;
    top: 1vh;
}

section .operador {
    position: relative;
    width: 17vw;
    height: 9vh;
    font-size: 2vw;
    margin-top: 3px;
}

section.clear {
    position: absolute;
    width: 5vw;
    height: 20vh;
    left: 31.5vw;
    top: 1%;
}

section .reset {
    position: relative;
    width: 17vw;
    height: 5vh;
    font-size: 2vw;
}

section #resetall {
    position: relative;
    width: 17vw;
    height: 5vh;
    font-size: 2vw;
}

    
    
    
    
/*section > input#tela {
    background-color: rgba(214, 211, 211, 0.652);
    margin: 6px;
    width: 95%;
    height: 100px;
    font-size: 5em;
}

section > input#data {
    position: relative;
    margin: 3px;
    box-shadow: 1px 1px 3px black;
}




section > #resetall, .reset, .operador {
    background-color: gainsboro;
    font-size: 35px;
    margin: 1px;
}




*/