@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: green;
    max-width: 600vw;
    margin: auto;
}

main { 
    position: inherit;
    background-color: white;
    max-width: 53vh;
    height: 67.5vh;
    margin: auto;
    margin-top: 5vw;
}

section > input#data {
    position: relative;
    margin: 3px;
    box-shadow: 1px 1px 3px black;
}

section.number {
    position: absolute;
    height: 220px;
    max-width: 20%;
    top: 41.5%;
    font-size: 5px;
    margin-left: 5px;
}

section #num {
    margin-left: 2px;
    margin-top: 2px;
    width: 24%;
    height: 25%;
    font-size: 35px;
}
section.operadores {
    position: absolute;
    display: inline-block;
    max-width: 40%;
    top: 33%;
    left: 53%;
    font-size: 10px;
}

section .operador {
    margin-left: 2px;
    margin-top: 2px;
    width: 90%;
    height: 8.1vh;
}

section > #resetall, .reset, .operador {

    background-color: gainsboro;
    font-size: 35px;
    margin: 1px;
}

section.clear {
    position: absolute;
    width: 18.5%;
    left: 37.4%;
    top: 25%;
}

section #resetall {
    position: relative;
    margin-left: 2px;
    margin-top: 2px;
    width: 39%;
    height: 8vh;
    font-size: 35px;
    top: 50px;
}

section .reset {
    position: relative;
    margin-left: 2px;
    margin-top: 2px;
    width: 39%;
    height: 8vh;
    font-size: 35px;
    top: 53px;
}

